@font-face {
  font-family: Vazir-Bold;
  src: url(../font/Vazir-Bold-FD-WOL.woff2);
}
@font-face {
  font-family: Thin-FD-WOL;
  src: url(../font/Vazir-Thin-FD-WOL.woff2);
}
@font-face {
  font-family: Vazir-Medium-FD-WOL;
  src: url(../font/Vazir-Medium-FD-WOL.woff2);
}
